body {
    background-color: rgb(197, 211, 9);
}

h1 {
    text-align: center;
}

.container {
    width: 90%;
    height: 100vh;
    border: 1px solid black;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
}